body {
    margin: 0;
    padding: 0;
}


.text-art {
    text-align: right
}

article {
    position: relative;
    width: 100%;
}

.breadcrumb {
    background: none !important
}

navbar {
    z-index: 3 !important
}

.scale-image {
    width: 400px;
    height: 400px;
}

.carousel-item img {
    width: 25% !important;
}
