body {
  background-color: #ffd8e7;
  color: #505F98;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%; }

.but {
  padding-top: 5px;
  text-align: center;
  border-radius: 2px;
  width: 90%;
  height: 30px;
  font-size: 12px;
  font-weight: 100;
  background-color: #111B47;
  border: 1.5px solid #111B47;
  color: white;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.but2 {
  padding-top: 5px;
  text-align: center;
  border-radius: 2px;
  width: 90%;
  height: 30px;
  font-size: 12px;
  font-weight: 900;
  background-color: white;
  color: #111B47;
  border: 1.5px solid #111B47;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.but:hover {
  color: #111B47;
  border: 1.5px solid #111B47;
  font-weight: 900;
  background-color: white; }

.but2:hover {
  color: white;
  border: 1.5px solid #111B47;
  font-weight: 100;
  background-color: #250a43; }

p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: auto;
  text-align: justify; }

h4 {
  font-family: Roboto, bold;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447E;
  margin: 0;
  text-decoration: underline; }

.margin-header {
  margin-top: 20%;
  margin-left: 0px; }

.margin-header-p {
  margin-top: 20px;
  margin-left: 0px; }

.margin-header-b {
  margin-top: 20px; }

h1 {
  color: #111B47; }

.button {
  text-align: center; }

.margin-left-button-2 {
  margin-left: -12px; }

.p-just-1 {
  text-align: justify; }

.bg {
  background-image: url(/img-2/hero.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top; }

aside {
  background-image: url(/img-2/hero2.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right top;
  padding-bottom: 20%; }

@media screen and (max-width: 576px) {
  .bg {
    background-size: 50%;
    background-position: top right; }
  aside {
    background-size: 50%;
    background-position: center right;
    padding-bottom: 0;
    margin: 0; } }

.void {
  width: 100%;
  height: 100px; }

.left-marg-4h {
  margin-left: 0px; }

.margin-header-2 {
  margin-top: 10%;
  margin-left: 0px; }

.margin-header-3 {
  margin-top: 0%;
  margin-left: 0px; }

.void2 {
  width: 100%;
  height: 50px; }

section {
  background-image: url(/img-2/hero3.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: left top;
  padding-bottom: 20%; }

.h1_3 {
  text-align: right; }

.margin-header-4 {
  margin-top: 5%;
  margin-left: 0px; }

.bg4 {
  background-image: url(/img-2/hero4.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: right top; }

.void3 {
  width: 100%;
  height: 5%; }

section-3 {
  background-image: url(/img-2/hero4.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right top; }

.xx {
  background-image: url(/img-2/hero4.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right top; }

.mar-h-5 {
  margin-top: 20%; }
