p{
  padding: 20px;
  border:1px solid black;
  background-color:darkgreen;
  color:white;
  font-weight: 800;
}
#alert{
  border-radius: 10px;
  width: 200px;
  height: 150px;
  opacity: 0.5;
  background-color: white;
  box-sizing: border-box;
  padding: 60px;
  position: absolute;
  display: none;
  z-index: 2;
  text-align: center;
  font-size:1.4em;
}