* {
   margin: 0;
   padding: 0;
}

body {
   objecr-fit:cover;
}

.cite {
   margin: 0 auto;
   width: 100%;
display:flex;
flex-direction:colum;
}


.header {
   z-index: 1;
   width: 100%;
   /*
   background-image: url(imgg3/BAG2.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-origin: padding-box;
*/

}

.aside {
   position: relative;
   top: -1em;
   z-index: 0;
   width: 100%;
   height: 1770px;
   background: #FFF0DF;
   border: 2px solid rgba(70, 54, 36, 0.6);
   box-sizing: border-box;
  display: flex;
width:100%;
}

.footer {
   width: 100%;
   height: 406px;
   background: #262626;
   position: relative;
   top: -1em;
}

#log {}

#bga2 {
   width: 100%;
   height: 100%;
   box-shadow: 0 5px 5px 5px #000;

}

.bga1 {
   width: 100%;
   height: 100%;
   box-shadow: 0 5px 5px 5px #000;

}

#logo {
   position: absolute;
   width: 55%;
   margin: 16% 21%;

}

#ege {
   position: absolute;
   width: 33%;
   margin: 0% 0%;
   transition: width 0.2s ease-in-out,
      margin 0.2s ease-in-out;
   cursor: pointer;
}

#ege:hover {
   width: 38%;
   margin: 0% -3%;
}

#ukrop {
   position: absolute;
   width: 17%;
   margin: 10% 0%;
}

#bread-b {
   position: absolute;
   width: 32%;
   margin: 25% 0%;
   z-index: 1;
   transition: width 0.2s ease-in-out,
      margin 0.2s ease-in-out;
   cursor: pointer;
}

#bread-b:hover {
   width: 37%;
   margin: 23% -2%;
}

#meat {
   z-index: 1;
   position: absolute;
   width: 33%;
   margin: 38% 20%;
   transition: width 0.2s ease-in-out,
      margin 0.2s ease-in-out;
   cursor: pointer;
}

#meat:hover {
   width: 38%;
   margin: 33% 17%;
}

#peper {
   z-index: 1;
   position: absolute;
   width: 25%;
   margin: 7% 40%;
   transform: rotate(10deg)
}

#ows {
   position: absolute;
   width: 43%;
   margin: 27% 55%;
   transition: width 0.2s ease-in-out,
      margin 0.2s ease-in-out;
   cursor: pointer;
}

#ows:hover {
   width: 53%;
   margin: 22% 50%;
}

#bread {
   position: absolute;
   width: 23%;
   margin: 34% 84%;
   transition: width 0.2s ease-in-out,
      margin 0.2s ease-in-out;
   cursor: pointer;
}

#kruasan {
   position: absolute;
   width: 28%;
   margin: 14% 75%;
   transition: transform 0.8s;
   transition-timing-function: cubic-bezier(0, 0, 0, 1);
   cursor: pointer;
}

#kruasan:hover {
   transform: rotate(720deg);
}

#pop {
   position: absolute;
   width: 35%;
   margin: 0% 64%;
   transition: width 0.2s ease-in-out,
      margin 0.2s ease-in-out;
   cursor: pointer;
}

#pop:hover {
   width: 39%;
   margin: 0% 62%;
}

.box-registr {
   flex: 1;
   width: 20%;
   height: 900px;
   background: rgba(255, 81, 26, 0.1);
   margin: 100px;
}

.contanier-aside {
   margin: 400px auto;
flex:1;
   justify-content: space-around;
   display: flex;
   flex-direction: row;
   min-width: 1000px;
   flex-wrap: wrap-reverse
}


.box-registr-none {
   flex: 1;
   height: 900px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 100px;


}

.box-r1 {
   height: 420px;
   background: rgba(255, 81, 26, 0.1);
}
