body {
 font-family: 'Roboto Slab';
    font-size: 15pt;
    margin: 0;
    padding: 0;
  background: rgba(255, 253, 245, 1.0);
background: -webkit-linear-gradient(top, rgba(255, 253, 245, 1.0), rgba(3, 23, 59, 1.0));
background: -moz-linear-gradient(top, rgba(255, 253, 245, 1.0), rgba(3, 23, 59, 1.0));
background: linear-gradient(to bottom, rgba(255, 253, 245, 1.0), rgba(3, 23, 59, 1.0));
}
.img{
 width: 95%;
 max-height: 80vh;
 object-fit: cover;
 border-radius: 8px;
}
.info{
 height: 100px;
 overflow: scroll;
 width: 100% ;
 background-color: lightblue;
 box-shadow: inset 3px 1px 5px gray;
 border-radius: 8px;
 box-sizing: border-box;
 padding: 10px;
}
.card{
 text-align: center;
 margin-top: 5px;
 box-sizing: content-box;
 padding: 10px;
}
.btns{
background: rgba(146, 129, 129, 1.0);
background: -webkit-radial-gradient(center, rgba(146, 129, 129, 1.0), rgba(43, 3, 59, 1.0));
background: -moz-radial-gradient(center, rgba(146, 129, 129, 1.0), rgba(43, 3, 59, 1.0));
background: radial-gradient(ellipse at center, rgba(146, 129, 129, 1.0), rgba(43, 3, 59, 1.0));
height:80px;
border-radius: 6px;
box-sizing: border-box;
padding: 10px;
color: white;
text-align: center;
margin: 5px;
}
#btns{
 display: flex;
 justify-content: space-between;
}
.btns-1{
 flex: 3
}
.btns-2{
 flex:1;
 padding-top: 25px;
}
label,#rec{
 width: 60px;
 height: 50px;
 width: 100% !important;
 font-size: 1.2em;
 display: block;
 transition: all 0.3s ease-in;
 padding-top: 15px;
 border-radius: 5px;
 margin-top: 5px;
 background-color: lightcyan;
}
#rec{
 background-color: skyblue
}
label:hover,#rec:hover{
 background-color: lightblue;
 border-radius: 15px;
}
#back{
 width: 80px;
 height: 40px;
 text-align: center;
 position: fixed;
 z-index: 25;
 top: 5px;
 right: 5px;
 border-radius: 4px;
 background-color: lightblue;
}
h2{
 margin-top: 40px;
}
#download {
 filter: opacity(0.5);
 width: 150px;
 text-align: center;
 color: white;
 height: 30px;
 border-radius: 15px;
 background-color: lightblue;
 position: absolute;
 top: 5px;
 right: 5px;
}
.img-block{
 position: relative;
}
a{
 color: black;
}
#likes{
 background: none;
 background-color: darkred !important;
}
#rec-bg{
 text-align: center;
 padding-bottom: 40vh;
 height: 100%;
 min-height: 100vh;
}