body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.box {
  /*display: flex;*/
  display: none;
  justify-content: center;
}

h2 {
  display: inline-block;
  color: #ffffff;
  background-color: #206af3;
  border-radius: 10px;
  padding: 20px;
}

h2:active {
  background-color: #46ffe3;
  color: #000b40;
}


a {
  color: #fff;
  /*font-family: helvetica;*/
  text-decoration: none;
  text-transform: uppercase;
}

img {
  height: 100%;

}

.img_box {
  overflow: hidden;
  align-items: center;
  padding: 5px;
  margin: 20px;
  height: 15vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  /*border-width: 2px;*/
  /*border-color: #000b40;*/
  outline: 1px solid rgba(0, 30, 121, 0.76);
  transition: all 0.1s ease;

}

.img_box:active {
  /*background-color: rgba(0, 30, 121, 0.76);*/
  box-shadow: 1px 1px 8px 1px black;
  transform: scale(1.05);
}

#top {
  text-align: center;
  margin-top: 10px;
}

#top-logo {
  width: 300px;
  height: 300px;
  border-radius: 1000px;
  object-fit: cover;
  box-shadow: 1px 1px 8px 1px black;
}

#tg {
  height: 70%;
}
#only{
  height: 130%;
}
