body {
   text-align: justify;
   padding: 0;
   margin: 0;
   font-family: sans-serif;
overflow-x: hidden;

}

/*overflow-x: hidden;*/

a:visited {
   color: inherit;
}

a:hover {
   color: green;
}

a:active {
   color: red;
}

.cite {
   min-width: 400px;
}

.header {

   color: white;
   background-image: url(bgh.png);
   background-attachment: scroll;
   background-repeat: repeat-x;
   background-size: cover;
   width: 100%;
   position: fixed;
   top: 0px;
   z-index: 5;
}

.title {
   width: auto;
   display: flex;
   justify-content: center;

}

.p1 {
   font-size: 1em;
   font-weight: 200;
   text-transform: uppercase;
   padding-left: 8px;
}

#h11 {
   flex: 1;
}

#log {
   width: 35px;
   height: 35px;
   padding-top: 22px;
   margin: 0;
   padding-right: 20px
}

.h11 {
   font-size: 2em;
   margin: 0;
   padding: 0;
   padding-left: 35%;
}

#p-top {
   padding-top: 7px;
   margin-bottom: 0px
}

#p-bottom {
   padding-top: 0px;
   margin-top: -4px;
}

.bord {
   height: 20px;

}

.line-1 {

   padding: 5px;
   flex: 1;
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   left: 20%;
   top: 60px;
}

#p2 {
   font-variant-caps: all-petite-caps;
   letter-spacing: 1.3em;
   font-weight: 800;
   text-decoration: underline;
   color: white;

   font-size: 100%;
   background: linear-gradient(45deg, rgb(9, 9, 28), #6a6a6a);
   background-image: url(bb.jpg);
   background-attachment: scroll;
   background-repeat: repeat;
   background-size: 30em;
   min-height: 50px;
   text-align: center;
   text-shadow: 0 0 9px #000;
   padding: 16px 0 0px 0;
   border-radius: 0px;
   box-shadow: 0px 0px 5px 1px rgba(186, 186, 255, 0.53), inset -3px -3px 5px 3px rgba(0, 0, 0, 0.53);
   width: 60vw;
   max-width: 400px;
   z-index: 3;
   position: relative;
   bottom: 20px;


}

.nav {
   text-align: center;
   color: #6c6c6c;
   background-color: #d4d4d4;
   position: relative;
   width: 100%;
   top: 79px;
   z-index: 4;
}

.ul {
   display: flex;
   justify-content: space-around;
   margin: 0;
   padding-bottom: 5px
}

#li {

   padding: 6px;
   margin: 2px;
   font-family: monospace;
   font-variant: small-caps;
   font-size: 2.2em;
}

#al:link {
   text-decoration: none;
   color: white;
}


.footer {
   position: relative;
   top: 50vh;
   height: 20vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.down {
   text-align: center;
   font-family: monospace;
   font-size: 1.4em;
   text-decoration: underline;
   border: 15px solid color rgba(16, 29, 26, 0.92);
   position: relative;
   top 100%;
   margin-top: auto;
   font-variant-caps: all-petite-caps;
   letter-spacing: 0.3em;
}

.aside {
   display: flex;
   flex-direction: column;
}

.article {

   display: flex;
   width: 100% color: black;
   letter-spacing: normal;
}


.girl {
   flex: 1;
   width: 10%;
}

.article {
   display: flex;
}

#pol-1 {
   width: 100%;
}

.pol {
   margin-top: 200px
}

#p3 {
   display: flex;
   justify-content: center;
   position: relative;
   bottom: 110px;
   margin-bottom: 0;

}

.bord2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   align-items: center
}



.box-bg {
   width: 100vw;
   margin-bottom: 15vh;
   margin-top: 5vh;
   display: flex;
   justify-content: center;
   flex-direction: column-reverse;
   align-content: center;

}

#bga {
   width: 100vw;
}

#p2-0 {
   font-variant-caps: all-petite-caps;
   letter-spacing: 1.3em;
   font-weight: 800;
   text-decoration: underline;
   color: white;
   font-size: 100%;
   background: linear-gradient(45deg, rgb(9, 9, 28), #6a6a6a);
   background-image: url(bb.jpg);
   background-attachment: scroll;
   background-repeat: repeat;
   background-size: 30em;
   min-height: 50px;
   text-align: center;
   text-shadow: 0 0 9px #000;
   padding: 16px 0 20px 0;
   border-radius: 0px;
   box-shadow: 0px 0px 5px 1px rgba(186, 186, 255, 0.53), inset -3px -3px 5px 3px rgba(0, 0, 0, 0.53);
   width: 60vw;
   max-width: 400px;
   z-index: 3;
   position: relative;
   bottom: 50px;

}

#p2-01 {
   font-variant-caps: all-petite-caps;
   letter-spacing: 1.3em;
   font-weight: 800;
   text-decoration: underline;
   color: white;
   font-size: 100%;
   background: linear-gradient(45deg, rgb(9, 9, 28), #6a6a6a);
   background-image: url(bb.jpg);
   background-attachment: scroll;
   background-repeat: repeat;
   background-size: 30em;
   min-height: 50px;
   text-align: center;
   text-shadow: 0 0 9px #000;
   padding: 16px 0 0px 0;
   border-radius: 0px;
   box-shadow: 0px 0px 5px 1px rgba(186, 186, 255, 0.53), inset -3px -3px 5px 3px rgba(0, 0, 0, 0.53);
   width: 60vw;
   max-width: 400px;
   z-index: 3;

}

.text-1 {

   text-align: justify;

   justify-content: center;
   margin: 0;
   padding: 0% 20% 0% 25%;
   width: 50vw;
   font-size: 1.5em;
   position: relative;
   bottom: 150px;
   font-family: 'Tomorrow', sans-serif;
   font-weight: 900;
}

.bread {
   display: flex;
   flex-direction: row;
   font-weight: 600;
   padding: 0% 0% 0% 2%;
   font-size: 0.9em;
   position: relative;
   top: 60px;
   left: 4%;
}

#cont1 {


   font-family: Segoe UI;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   line-height: 29px;
   text-align: center;
   text-decoration-line: underline;
   text-transform: uppercase;
   margin: 4px;

   color: #000000;
}

#cont2 {


   font-family: Segoe UI;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   line-height: 29px;
   text-align: center;
   text-decoration-line: underline;
   text-transform: uppercase;

   color: #000000;
}

#cont3 {


   font-family: Segoe UI;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   line-height: 29px;
   text-align: center;
   text-decoration-line: underline;
   text-transform: uppercase;

   color: #000000;
}

#cont4 {


   font-family: Segoe UI;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   line-height: 29px;
   text-align: center;
   text-decoration-line: underline;
   text-transform: uppercase;

   color: #000000;
}

#l1 {
   width: 90vw;
   height: 3px
}

.line-a {
   display: flex;
   justify-content: space-between
}

.line-b {
   display: flex;
}

.box-b {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 90vw;
}

.box-l {
   ;
}

.line {
   margin-bottom: 20px;
}

.box-r {}

.line-c {
   margin: 0, 2vw, 0, 2vw;
}

#lc {}

#lf {}
