* {
    margin: 0;
    padding: 0;

}

body {
    color: darkred;
    font-family: 'Lobster', cursive;
    font-size: 5em;
    text-shadow: 0 0 5px #ffffff;
    background: linear-gradient(90deg, #111, #585858);
    padding: 10px;

}

.timer {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    flex-direction: row;
}
