* {
    margin: 0;
    padding: 0;
}

body {
    color: #ffffff;
    text-shadow: 0 0 4px #444;
    width: 100%;
    overflow-x: hidden;
    background: repeating-linear-gradient(90deg, #4649ad, red);
}

p {
    padding: 20px;
}

#photo {
    width: 100%;

}

.img_box {
    text-align: center;
}

.box {
    position: absolute;
    border: 1px solid #ff3b3b;
    width: 95%;
    height: 900px;
    margin: 0 auto;
    background: repeating-linear-gradient(90deg, #4649ad, red);
    border-radius: 20px;
    box-shadow: 0 0 10px 3px #222;
    z-index: -2;
    left: 2.5%;

}

#p1 {
    font-family: sans-serif;
    font-size: 1.1em;
    color: red;
}

.rad {
    position: absolute;
    background: repeating-linear-gradient(270deg, #ad8546, red);
    width: 200px;
    height: 200px;
    border-radius: 100px;
    z-index: -1;
    filter: drop-shadow(0 0 8px #000);
    filter: opacity(0.5);
    filter: blur(0.5);
}

button {
    outline: none;
    background: none;
    font-size: 1.6em;
    background-color: #643495;
    border: none;
    color: #a2d4ff;
    padding: 5px;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
}
