body {
    font-size: 15pt;
    margin: 0;
    padding:0;
}
body{
  transition: all 2.5s ease;
  font-family: sans-serif;
 
}
.top{
  position: fixed;
  top:0;
  background-color: black;
  width:100%;
  margin:0;
  padding: 10px;
  z-index: 3;
}

.nav{
  z-index: 1;
  position: fixed;
  margin-top:-25px;
  margin-bottom: -20px;
  
}
header{
  color: white;
}
.box{
  position: absolute;
  width: 100%;
}

a{ 
 color:black;
}
footer {
  position: absolute;
  bottom: -250px;
  z-index: 3;
  width: 100%;
}
.content{
  z-index: 2;
  top:200px;
  background-color:white;
  position: absolute;
  text-align: center;
  margin-bottom: 100px;
}

li{
  font-weight: 600;
  list-style: square;
}
.f_d li{
  font-size: 0.5em;
 display: inline; 
 margin: 5px
}
#btn{
  margin: 5px auto;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  background-color: black;
  color: white;
}
#btn:focus{
  outline:none;
}

.variant{
  display: none;
  justify-content: space-around;
}
.variant div{
  margin: 3px;
  border: 1px solid silver;
}
.one{
  width: 70px;
  height: 150px;
  background-color: black;
}
.two{
  width: 70px;
  height: 150px;
  background-color: darkred;
}
.tree{
  width: 70px;
  height: 150px;
  background-color: green;
  cursor: progress;
}
